---
layout: default
---

{% include /functions/print-teacherbuttons.html myArtefact=page %}
{% include /functions/print-page-navigation.html myArtefact=page %}
{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="prefix" %}

<h1>{{ artefactName }}</h1>

<dl>
    <dt>{{ site.translations[site.lang].reviews.artefact }}</dt>
    {% assign artefactRefType = page.artefact[0] %}
    {% assign artefactRef = page.artefact[1] %}
    {% include /functions/get-link-to-artefact.html myRef=artefactRef myTypeString=artefactRefType myIdFormat="postfix" %}
    <dd>{{ artefactLink }}</dd>
    <dt>Reviewer</dt>
    <dd>{{ page.reviewer }}</dd>

    <dt>Conducting the Review</dt>
    <dd>
        {% t global.event.happenedOn %} {{ page.conducting.date | date: "%d.%m.%Y" }} {% t global.between %}
        {{ page.conducting.timeFrom }} {% t global.and %} {{ page.conducting.timeUntil }} {% t global.clock %}.
        {% t global.event.locationWas %} {{ page.conducting.location }}.
    </dd>
    <dt>{{ site.translations[site.lang].reviews.type }}</dt>
    <dd>{{ page.reviewType }}<dd>
    {% if page.method.description != Nil %}
        <dt>{% t global.method %}: {{ page.method.name }}</dt>
        <dd>{{ page.method.description }}</dd>
    {% else %}
        <dt>{% t global.method %}</dt>
        <dd>{{ page.method.name }}</dd>
    {% endif %}

    {% include /functions/print-additional-documents.html additionalDocuments=page.additionalDocuments %}

    {% include /functions/print-authors.html page=page %}
    {% include /functions/print-history.html myArtefact=page %}
    {% include /functions/checks/check-review.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
